{
  "extends": ["stylelint-config-standard"],
  "rules": {
    "at-rule-empty-line-before": null,
    "at-rule-no-vendor-prefix": null,
    "color-hex-length": "short",
    "color-named": "never",
    "declaration-empty-line-before": null,
    "declaration-no-important": null,
    "font-family-name-quotes": "always-where-recommended",
    "font-weight-notation": "numeric",
    "function-url-no-scheme-relative": true,
    "function-url-quotes": "always",
    "length-zero-no-unit": true,
    "media-feature-name-no-vendor-prefix": null,
    "no-descending-specificity": null,
    "no-duplicate-selectors": true,
    "media-feature-name-no-unknown": [true, {
      "ignoreMediaFeatureNames": ["prefers-reduced-motion"]
    }],
    "property-no-vendor-prefix": null,
    "rule-empty-line-before": null,
    "selector-attribute-quotes": "always",
    "selector-max-attribute": 2,
    "selector-max-class": 4,
    "selector-max-combinators": 4,
    "selector-max-compound-selectors": 4,
    "selector-max-id": 1,
    "selector-max-specificity": null,
    "selector-max-type": 3,
    "selector-max-universal": 1,
    "selector-no-qualifying-type": null,
    "selector-no-vendor-prefix": null,
    "shorthand-property-no-redundant-values": true,
    "value-keyword-case": "lower",
    "value-no-vendor-prefix": null
  }
}
