/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

body {
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

a {
  color: #ff3d2e;
  text-decoration: none;
}

a:hover {
  color: #cc3a2b;
  text-decoration: underline;
}

h1,
h2,
h3,
h4 {
  font-weight: 300;
  margin: 0.25rem 0;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

hr {
  opacity: 0.3;
}

code {
  word-break: break-all;
  display: inline-block;
  padding: 1rem;
  border-left: 3px solid #808080;
  background-color: #3a3a3a;
  color: #ccc;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1rem;
  line-height: 1;
  margin-top: 1rem;
}

nav {
  background-color: #333;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

nav a {
  color: #fff;
  float: right;
  padding: 0.5rem 1rem;
}

nav a:hover {
  color: #fff;
}

footer {
  padding-top: 1rem;
  opacity: 0.7;
}

.container {
  width: auto;
  max-width: 960px;
  margin: auto auto 2rem;
  padding: 1rem;
}

.clear {
  clear: both;
}

/*
 * App container
 */
#app {
  color: #000;
  background-color: #adbdc6;
  padding: 4rem 0;
  max-width: 100%;
}

/*
 * App
 */
#sriApp {
  font-size: 1.5rem;
}

#sriApp input {
  font-size: 0.9rem;
  height: 2.25rem;
  display: inline-block;
}

#sriApp input[type="url"] {
  background-color: #fff;
  color: #888;
  border: 1px solid #ccc;
  width: 70%;
  padding: 0 2%;
}

#sriApp input[type="submit"] {
  cursor: pointer;
  color: #fff;
  background-color: #008cba;
  border: 1px solid #0079a1;
  width: 25%;
}

#sriApp label {
  font-size: 1.5rem;
  padding-right: 1rem;
}

#sriApp iframe {
  width: calc(100% - 2rem);
  height: 5rem;
  padding: 1rem;
  border: none;
  border-left: 3px solid #808080;
  background-color: #3a3a3a;
  margin: 1rem 0 0;
}

#sriSnippet {
  padding: 0;
  margin: 0;
  border: 0;
  white-space: pre-line;
}

/*
 * Mobile styling
 */

@media (max-width: 960px) {
  nav {
    padding: 0.75rem 0;
    text-align: center;
  }

  nav a {
    display: inline-block;
    float: none;
  }

  nav a + a {
    margin-left: 1rem;
  }

  h1 {
    font-size: 2.5rem;
  }

  #app {
    padding: 1rem 0 0.25rem;
    text-align: center;
  }

  #sriApp input {
    margin-top: 0.75rem;
  }
}
