/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url('OpenSans-Light.woff') format('woff');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

hr {
  opacity: 0.3;
}

a {
  color: #ff3d2e;
  text-decoration: none;
}
a:hover {
  color: #cc3a2b;
  text-decoration: underline;
}

h1, h2, h3, h4 {
  font-weight: 300;
  margin: 0.25rem 0 0.25rem 0;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}

input:not([type=checkbox]), button, .button {
  font-size: .9rem;
  height: 2.25rem;
  display: inline-block;
}
input[type=text] {
  background-color: white;
  color: #888;
  border: 1px solid #ccc;
}
input[type=submit], button, .button {
  cursor: pointer;
  color: white;
  background-color: #008cba;
  border: 1px solid #0079a1;
}
button:hover, .button:hover {
  color: white;
  background-color: #006687;
  border: 1px solid #004b63;
}

code {
  word-break: break-all;
  display: inline-block;
  padding: 1rem;
  border-left: 3px solid gray;
  background-color: #3a3a3a;
  color: #ccc;
  font-size: 1rem;
  margin-top: 1rem;
}

nav {
  background-color: #333;
}
nav a {
  color: white;
  float: right;
  padding: 0.5rem 1rem 0.5rem 0;
}
nav a:hover {
  color: white;
}

footer {
  padding-top: 1rem;
  opacity: 0.7;
}

.container {
  width: auto;
  max-width: 960px;
  margin: auto;
  padding: 1rem;
  margin-bottom: 2rem;
}

.clear {
  clear: both;
}


/*
 * App container
 */

#app {
  color: black;
  background-color: #adbdc6;
  padding: 4rem 0 4rem 0;
  max-width: 100%;
}


/*
 * App
 */

#sriApp {
  font-size: 1.5rem;
  font-weight: 300;
}
#sriApp input[type=text] {
  width: 70%;
  padding: 0 2% 0 2%;
}
#sriApp input[type=submit] {
  width: 25%;
}
#sriApp label {
  font-size: 1.5rem;
  padding-right: 1rem;
}

#sriApp iframe {
  width: calc(100% - 2rem);
  height: 5rem;
  padding: 1rem;
  border: none;
  border-left: 3px solid gray;
  background-color: #3a3a3a;
  margin: 0;
  margin-top: 1rem;
}

code#sriSnippet {
  padding: 0;
  margin: 0;
  border: 0;
  white-space: pre-line;
}

/*
 * Mobile styling
 */

@media all and (max-width: 960px) {
  h1 {
    font-size: 3rem;
  }

  #app {
    padding: 1rem 0 0.25rem 0;
  }
}
