{{! This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at https://mozilla.org/MPL/2.0/. }}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hash</title>
    <style nonce="{{style-nonce}}">
      {{~> mainCss~}}
    </style>
  </head>
  <body>
    <code id="sriSnippet" name="sriSnippet">{{hash}}</code>
  </body>
</html>
