/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.sri-test {
    display: inline-block;
    font-family: "open sans";
    font-size: 13px;
}
.sri-test:before {
    background-color: yellow;
    content: "[Testing SRI support...]";
}

#sri-badge {
    display: inline-block;
    font-family: "open sans";
    font-size: 13px;
}
#sri-badge *[data-sri-status] {
    height: 64px;
    width: 224px;
    overflow: hidden;
}

#sri-badge *[data-sri-status] * {
    display: inline-block;
    float: left;
}

#sri-badge *[data-sri-status] img {
    margin-left: 16px;
}

#sri-badge *[data-sri-status] p {
    position: relative;
    text-align: center;
    top: calc(-64px + 16px - 4px);
    left: 0px;
    margin: 0;
    width: calc(100% - 80px - 26px);
    padding: 2px 24px 2px 80px;
    background-color: #eee;
    z-index: -1;
}

#sri-badge *[data-sri-status="pass"] {
    display: none;
}
#sri-badge *[data-sri-status="fail"] {
    display: none;
}
