/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.sri-test *[data-sri-status="pass"] {
	display: none !important;
}
.sri-test *[data-sri-status="fail"] {
	display: block !important;
}

/* Just in case will-pass.css failed to load */
.sri-test:before {
	content: none !important;
	display: none;
}
